/* Global Styles */
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: #000; /* Dark background */
    color: #fff; /* White text */
}

/* Header Styles */
header {
    background: linear-gradient(135deg, rgba(0,0,0,0.1), rgba(0,0,0,0.6)); /* Glassy space-themed effect */
    text-align: center;
    padding: 20px 0;
    color: #fff;
    backdrop-filter: blur(10px); /* Apply blur effect */
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.header-info {
    margin-left: 20px;
}

.contact-info a {
    color: #00bcd4; /* Light blue links */
    text-decoration: none;
    transition: color 0.3s;
}

.contact-info a:hover {
    color: #008ba3; /* Darker blue on hover */
}

/* Container Styles */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1); /* Translucent white background */
    backdrop-filter: blur(10px); /* Apply blur effect */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.container h2 {
    color: #eee; /* Light gray headers */
}

.container p {
    color: #ccc; /* Light gray text */
}

/* Additional Information Styles */
.additional-info {
    margin-top: 20px;
    color: #ccc; /* Light gray text */
}

/* Profile Picture Styles */
img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    background: linear-gradient(135deg, #00bcd4, #009688); /* Gradient background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: filter 0.6s, width 0.6s, height 0.6s;
}

img:hover {
    filter: grayscale(30%);
}
