/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: -webkit-linear-gradient(135deg, #000000, #0a0a0a); /* Dark gradient background */
    color: #fff; /* White text */
}

/* Header Styles */
header {
    background: -webkit-linear-gradient(135deg, #061f4a, #000033); /* Interstellar space-themed gradient background */
    text-align: center;
    padding: 20px 0;
    background-clip: text;
}

/* Content Container Styles */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: -webkit-linear-gradient(#050223  , #420570 , #460232); /* Dark gray background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    animation: fadeIn 1s ease-in-out;
    background-clip: padding-box;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Section Heading Styles */
h1,
h2 {
    background: linear-gradient(135deg, #bb67fa, #d4e5d0, #fca1ca); /* Light purple gradient for headings */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px; /* You can adjust the font size as needed */
    margin-bottom: 10px;
    background-clip: text;
}

/* Link Styles */
a {
    color: #f406e4; /* Light blue link color */
    text-decoration: none;
    background-image: linear-gradient(transparent 0%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 0.2rem 0.2rem;
    background-position: 0 1.1em;
    transition: background-size 0.3s;
}

a:hover {
    background-size: 100% 0.2rem;
}

/* Paragraph Styles */
p {
    margin: 0;
    line-height: 1.4;
    color: #ccc; /* Light gray text */
}

/* Address Styles */
.address {
    font-size: 14px;
    margin-top: 10px;
    color: #e6dede; /* Light gray address text */
}

/* Additional Information Styles */
.additional-info {
    margin-top: 20px;
}

/* Profile Picture Styles */
img {
    width: 150px;
    height: 150px;
    object-fit: scale-down;
    border-radius: 50%; /* Circular profile picture */
    background: -webkit-linear-gradient(135deg, #a066cc, #d6a0ff, #f4ccff); /* Light purple gradient background for the profile picture */
    box-shadow: 1px 1px 390px #05dbf7, -17px -17px 390px #66ccff; /* Subtle shadow */
    display: block;
    margin: 0 auto 20px;
}
